.sml_token_field {
	width: 36em;
}
.sml_long_text {
    width: 36em;
}


.sml_url_field {
	width: 36em;
}

.sml_title_field {
	width: 18em;
}

.sml_id_field {
	width: 6em;
}

/* Tab */
.nav-tabs {
	float: left;
	width: 100%;
	margin: 0;
	list-style-type: none;
	border-bottom: 1px solid transparent;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.5;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	float: left;
	text-decoration: none;
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border-color: transparent;
}
.tab-content > .tab-pane {
	float: left;
	width: 100%;
	display: none;
}
.tab-content > .tab-pane.active {
	display: block;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}

.hidden{
	display: none;
}


body {
	margin: 0px;
	font-family: "Arial";
}
.example {
	padding: 20px;
}
input[type="button"] {
	padding: 5px 10px;
	margin: 10px 5px;
	border-radius: 5px;
	cursor: pointer;
	background: #ddd;
	border: 1px solid #ccc;
}
input[type="button"]:hover {
	background: #ccc;
}
.confirm {
	display: none;
}
.confirm > div:first-of-type {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
}
.confirm > div:last-of-type {
	padding: 10px 20px;
	background: white;
	position: absolute;
	width: auto;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	border: 1px solid #333;
}
.confirm > div:last-of-type div:first-of-type {
	min-width: 150px;
	padding: 10px;
}
.confirm > div:last-of-type div:last-of-type {
	text-align: right;
}
#confirmClose{
	position: absolute;
    top: 0;
    font-weight: 900;
    padding: 0 !important;
}
.flex{
	display: flex;
}
.none{
	display: none !important;
}
.justify-center{
	justify-content: center;
}
.active{
	background: #2271b1;
	color: white;
}
.plugin-version{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
	border: 1px solid gray;
}

.btn-version{
	height: 40px;
}
.mb-5{
	margin-bottom: 5px;
}

.list-unstyled{
	list-style: none;
}
